#grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
}
.cell{
    height: 38px;
    width: 38px;
    color: gray;
    border:solid 1px black;
}
img{
    max-width: 100%;
    max-height: 100%;
}
h2{
    color:green;
}